<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="\style.css" />
        <title>Document</title>
    </head>

    <body class="bg-green-300">
        <header class="bg-gray-900">
            <nav class="text-green-500 flex justify-start">
                <a class="pt-4 pl-6 pr-4 text-lg" href="/home">Home</a>
                <a class="pt-4 px-4 text-lg" href="/dashboard">Dashboard</a>
                <a class="pt-4 px-4 text-lg" href="/login">Login</a>
            </nav>
            <h1
                class="bg-green-500 text-gray-900 inline-block font-bold text-4xl px-6 pt-4 pb-6 ml-8 my-4 rounded-md shadow-slate-500"
                style="box-shadow: 5px 5px #64748b;"
            >The Tech Forum</h1>
        </header>

        <section class="px-4 md:px-16">
            {{{body}}}
        </section>

    </body>

</html>