<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="\style.css" />
        <title>Document</title>
    </head>

    <header class="bg-gray-900">
        <nav class="text-green-500 flex justify-start">
            <a href="/home">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/login">Login</a>
        </nav>
        <h1 class="bg-green-500 text-gray-900">The Tech Forum</h1>
    </header>
    <body>
        {{{body}}}
    </body>

</html>