<h2 class="font-bold text-2xl inline-block mt-4 px-32 py-2 bg-gray-900 text-green-500 text-center relative left-1/2 rounded-full" style="transform:translateX(-50%)">Recent Posts</h2>

{{#if user_id}}
    {{> new-post}}
{{/if}}

{{#each forum_posts}}
    {{> forum-post}}
{{/each }}

<script src="/linkToForumPost.js"></script>